.boxes {width: 1170px
;}
.navigation-ul {
	margin-left: 168px;
}
.navigation-li {float: left; 
	;font-size: 48px; 
	 margin-right: 40px; 
	 margin-top: 15px;
	 font-family: 'Dancing Script', cursive;


	}
.green {background: #22B573;
  width: 1274px;
   height: 700px;
    margin-left:45px;
    margin-bottom: 15px;
}
.text{text-align: center; 
	background-color: white;
	font-family: 'Dancing Script', cursive;

}
.yvitelilogo {float: right;
margin-right: 160px; margin-top: 35px;}
.colors{ color: #fff; }
.yviteliboxi{background:#FCEE21;
width: 517px; float: left;
 margin-left: 74px;

 margin-bottom: 50px;
  }
.text1{
	margin: 7px;
	padding: 2px;
font-family: 'Dancing Script', cursive;
}
.typo1{float: right; margin:25px;}
.yviteliboxi1 {background:#FCEE21;
width: 517px; float: right;
 margin-left: 74px;
 margin-right: 74px;
  }
  .typo2{float:left;
  	margin-right: 7px;
  	margin: 25px;
  }
  .text2{margin: 7px;
  	padding: 2px;
  	 font-family: 'Dancing Script', cursive;



  }
  .clear {clear: both;}
  .tavi {margin-bottom:60px;}
  .mtliani::after{
  	content: "";
  	clear: both;
  	display: block;
  }